.card-container {
    width: 65%;
    border-radius: 20px;
    color: white;
    background-color: #797978;
    padding: 18px;
    margin: 9px;
    justify-content: space-around;
    align-items: center;
}

.cert-img {
    width: 200px;
    height: 200px;
}