nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    justify-content: space-evenly;
    height: 100vh;
    width: 20%;
    background-color: #4B70E7;
    box-shadow: 6px 0px 7px rgba(0, 0, 0, .3);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-weight: bold;
    z-index: 9999;
}

nav i {
    font-size: 32px;
    margin: 0 10px;
    color: #FFFFFF;
    text-shadow: 0px 1px 2px rgb(50, 50, 50);
}

nav h1 {
    font-size: 40px;
}

nav h3 {
    font-size: 28px;
    margin-top: 0px;
}

nav h1, nav h3 {
    color: #FFFFFF;
    text-shadow: 0px 1px 2px rgb(50, 50, 50);
}

.link-container {
    background-color: #4B70E7;
    font-size: 28px;
    font-weight: bold;
    border: none;
    border-top: 2px solid #3c55a8;
    margin: 0;
    padding: 0;
    height: 80px;
    width: 100%;
    transition: transform 0.3s ease;
    letter-spacing: 4px;
}

.link-container a {
    color: #FFFFFF;
    text-shadow: 0px 1px 2px rgb(50, 50, 50);
    text-decoration: none;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.portrait {
    box-shadow: 0px 0px 9px rgb(50, 50, 50);
    border-radius: 10%;
    width: 65%;
    align-self: center;
    margin-bottom: 25px;
  }

.link-container:hover {
    border-top: 2px solid #3c55a8;
    border-right: 2px solid #092434;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #334faa;
    transform: translateX(10px);
    transition: 
        transform .5s ease, 
        border-top-right-radius .3s ease-in-out, 
        border-bottom-right-radius .3s ease-in-out;
}

nav i:hover {
    color: #2D364D;
    transition: transform 0.3s ease;
    transform: scale(1.3, 1.3);
}

.icon-container {
    width: 100%;
    border-top: 2px solid #3c55a8;
    background-color: #4B70E7;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-self: center;
}

.button-container {
    background-color: #2D364D;
}

.hash-link {
    width: 100%;
}


@media only screen and (min-width : 1224px) and (max-width : 1824px){

    nav h1 {
        font-size: 28px;
    }
    
    nav h3 {
        font-size: 19px;
        margin-top: 0px;
    }
  
    .link-container {
        background-color: #4B70E7;
        font-size: 21px;
        font-weight: bold;
        border: none;
        border-top: 2px solid #3c55a8;
        margin: 0;
        padding: 0;
        height: 65px;
        width: 100%;
        transition: transform 0.3s ease;
        letter-spacing: 4px;
    }
  
  
  
  
  
  
  }