html {
  scroll-behavior: smooth;
}

body {
    width: 100%;
    margin: auto;
    background-color: #FFFFFF;
    color: #040f16;
    font-family: "Montserrat";
    font-weight: 400;
}

h1, h3 {
    color: #2D364D;
    letter-spacing: 4px;
    font-size: 60px;
    margin: 5px 10px;
}

p {
  font-size: 18px;
}

a:link, a:visited {
  color: #040f16;
}

.btn {
  font-family: "Montserrat";
  font-size: 18px;
  letter-spacing: 4px;
  padding: 9px;
  border: none;
  border-radius: 15px;
  color: white;
  background-color: #040f16;
}


.full-width {
  width: 100%;
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}

.align-center {
    align-items: center;
}

.align-end {
    align-items: flex-end;
}

.flex-end {
    justify-content: flex-end;
}

.section-container h1, .alt-section-color h1 {
  color: #2D364D;
  text-shadow: 2px 2px 1px rgba(116, 116, 116, .3);
}

.color-container {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.section-container {
    width: 80%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-detail-container {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 70%;
}

.about-image-container {
  display: flex;
  margin-top: 50px;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 60%;
}

.image {
  box-shadow: 0px 0px 6px rgb(65, 65, 65);
  border-radius: 10%;
  width: 300px;
  height: 300px;
  margin-bottom: 25px;
}

@keyframes shakeUpDown {
    0%, 15%, 100% { 
      transform: translateY(0);
    }
    5% {
      transform: translateY(-6px);
    }
    10% {
      transform: translateY(6px);
    }
  }
  
.shake {
  animation: shakeUpDown 4s ease-in-out infinite;
  font-size: 50px;
}

.royal-blue {
  color: #4B70E7;
}

/* Scrollbar Styles */

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: #040f16;
}

::-webkit-scrollbar-thumb {
  background-color: #6D8A96;
  border: 3px solid #040f16;
  border-radius: 10px;
}