html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  margin: auto;
  background-color: #FFFFFF;
  color: #040f16;
  font-family: "Montserrat";
  font-weight: 400;
}

h1, h3 {
  color: #2D364D;
  letter-spacing: 4px;
  font-size: 60px;
  margin: 5px 10px;
}

p {
  font-size: 18px;
}

a:link, a:visited {
  color: #040f16;
}

.full-width {
  width: 100%;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: flex-end;
}

.flex-end {
  justify-content: flex-end;
}

.section-container h1, .alt-section-color h1 {
  color: #2D364D;
  text-shadow: 2px 2px 1px rgba(116, 116, 116, .3);
}

.color-container {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.section-container {
  width: 80%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-detail-container {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 80%;
}

.about-image-container {
  display: flex;
  margin-top: 50px;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 60%;
}

.image {
  box-shadow: 0px 0px 9px rgb(50, 50, 50);
  border-radius: 10%;
  width: 13vw;
  margin-bottom: 25px;
}

.full-width {
  width: 100%;
}

.mobile-display-flex {
  display: none;
}

.button {
  padding: 15px 30px;
  margin: 20px 0;
  border-radius: 15px;
  background-color: #4B70E7;
  box-shadow: 0px 0px 3px rgb(50, 50, 50);
}

.button a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  text-shadow: 0px 0px 3px rgba(61, 61, 61, 1);
}

@keyframes shakeUpDown {
  0%, 15%, 100% { 
    transform: translateY(0);
  }
  5% {
    transform: translateY(-6px);
  }
  10% {
    transform: translateY(6px);
  }
}

@keyframes pulse {
  0%, 15%, 100% { 
    transform: scale(1);
  }
  5% {
    transform: scale(1.1);
  }
  10% {
    transform: scale(1);
  }
}
  
.shake {
  animation: shakeUpDown 4s ease-in-out infinite;
  font-size: 50px;
}

.pulse {
  animation: pulse 4s ease-in-out infinite;
}

.royal-blue {
  color: #4B70E7;
}

#about-me-mobile {
  display: none;
}

/* Scrollbar Styles */

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: #040f16;
}

::-webkit-scrollbar-thumb {
  background-color: #6D8A96;
  border: 3px solid #040f16;
  border-radius: 10px;
}

@media only screen and (min-width : 1224px) and (max-width : 1824px){

  h1, h3 {
    font-size: 45px;
    margin: 5px 10px;
  }
}

@media only screen and (min-width : 300px) and (max-width : 1223px){

  body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }

  p {
    font-size: 14px;
  }

  h1, h3 {
    font-size: 28px;
    margin: 0;
  }

  .image {
    box-shadow: 0px 0px 9px rgb(50, 50, 50);
    border-radius: 10%;
    width: 70vw;
  }

  .shake {
    font-size: 28px;
  }

  .section-container {
    height: 100vh;
    width: 100%;
  }

  .mobile-hide {
    display: none;
  }

  .mobile-display-flex {
    display: flex;
  }

  #certifications {
    padding-top: 10vh;
    justify-content: center;
  }
}