html {
  scroll-behavior: smooth;
}

body {
    width: 100%;
    margin: auto;
    background-color: #FFFFFF;
    color: #040f16;
    font-family: "Roboto";
}

h1 {
    color: #040f16;
    font-size: 75px;
    margin: 10px;
}

a:link, a:visited {
  color: #040f16;
}

.btn {
  font-family: "Roboto";
  font-size: 18px;
  padding: 9px;
  border: none;
  border-radius: 15px;
  color: white;
  background-color: #040f16;
}

.btn:hover {
  background-color: #6D8A96;
  transition: transform 0.3s ease, background-color 0.3s ease;
  transform: scale(1.2, 1.2);
}

.full-width {
  width: 100%;
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
    align-items: stretch;
}

.align-center {
    align-items: center;
}

.align-end {
    align-items: flex-end;
}

.flex-end {
    justify-content: flex-end;
}

.alt-section-color {
  background-color: #3c573c;
}

.alt-section-color h1 {
  color: white;
}

.color-container {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.section-container {
    width: 80%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes shakeUpDown {
    0%, 15%, 100% { 
      transform: translateY(0);
    }
    5% {
      transform: translateY(-6px);
    }
    10% {
      transform: translateY(6px);
    }
  }
  
.shake {
  animation: shakeUpDown 4s ease-in-out infinite;
  font-size: 50px;
}

/* Scrollbar Styles */

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: #040f16;
}

::-webkit-scrollbar-thumb {
  background-color: #6D8A96;
  border: 3px solid #040f16;
  border-radius: 10px;
}